html {
  font-family: Arial, sans-serif;
}
form {
  float: right;
}
input {
  display: block;
  margin-bottom: 0.5em;
}
form button {
  margin-top: 1em;
}
li {
  margin-bottom: 0;
}
li button {
  display: block;
}